.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.col-12{
	background: #000000;
	border-style: solid;
	border-color: white;
	color: white;
}

.col-11{
	background: #111111;
	border-style: solid;
	border-color: white;
}

.col-10{
	background: #222222;
	border-style: solid;
	border-color: white;
}

.col-9{
	background: #333333;
	border-style: solid;
	border-color: white;
}

.col-8{
	background: #444444;
	border-style: solid;
	border-color: white;
}

.col-7{
	background: #555555;
	border-style: solid;
	border-color: white;
}

.col-6{
	background: #666666;
	border-style: solid;
	border-color: white;
}

.col-5{
	background: #777777;
	border-style: solid;
	border-color: white;
}

.col-4{
	background: #888888;
	border-style: solid;
	border-color: white;
}

.col-3{
	background: #999999;
	border-style: solid;
	border-color: white;
}

.col-2{
	background: #aaaaaa;
	border-style: solid;
	border-color: white;
}

.col-1{
	background: #bbbbbb;
	border-style: solid;
	border-color: white;
}